@font-face {
    font-family: 'sh_pinscherregular';
    src: url('../fonts/shpinscher-regular-webfont.woff2') format('woff2'),
         url('../fonts/shpinscher-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sh_pinscherregular';
}

body {
    /* Background pattern from Subtle Patterns */
    background: url('../images/footer_lodyas.png');
    background-repeat: repeat;
}

.starting-screen {
    width: 480px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../images/pixelSpace.png');
    background-size: cover;
    color: white;
    z-index: 4;
}

.game-title {
    font-size: 4rem;
    animation-name: flow;
    animation-duration: 3s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.start-button {
    cursor: pointer;
    font-size: 3rem;
    color: white;
    background-color: black;
    border: none;
}

.start-button:hover {
    color: orangered;
}

.wrapper, .scores-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    z-index: 2;
}

#canvas {
    width: 480px;
    height: 640px;
    background: rgb(0, 0, 0);
    image-rendering: pixelated;
    -webkit-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.75);
}

#info, #game-end {
    max-width: 420px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: white;
    background-color: rgba(0,0,0,0.85);
    z-index: 3; 
}

#game-end, #ship-destroyed, #earth-destroyed, #ship-shot, #score, #play-again {
    display: none;
}

.player, .send-button, .play-button {
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border: 2px solid white;
    padding: 5px;
    margin: 20px 0;
}

.send-button:hover, .play-button:hover {
    cursor: pointer;
    color:black;
    background-color: white
} 

.name-validator {
    color: red;
    display: none;
}

.footer {
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.85rem;
}

.copyrights {
    font-family: helvetica, arial, sans-serif;
    color: rgba(0,0,0,0.45);
    margin-right: 5px;
}

.highscores {
    font-family: helvetica, arial, sans-serif;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.50);
    margin-right: 5px;
}

a:link, a:visited {
    font-family: helvetica, arial, sans-serif;
    color: rgba(255, 255, 255, 0.50);
    text-decoration: none;
}

a:hover, .highscores:hover {
    color: white;
}

.score-list {
    width: 420px;
    max-height: 400px;
    font-size: 1.5rem;
    color: white;
    background: rgba(0, 0, 0, 0.95);
    overflow-y: scroll;
    z-index: 1;
}

.close-scorelist {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -50px;
    right: 20px;
    border: none;
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.95); 
    z-index: 5;
}

.close-scorelist:hover {
    color: orangered;
}

.scorelistings:nth-child(1) {
    border: 5px solid gold;
}

.scorelistings:nth-child(2) {
    border: 5px solid silver;
}

.scorelistings:nth-child(3) {
    border: 5px solid chocolate;
}

.music-handler {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
    display: none;
}

.left-button {
    cursor: pointer;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: none;
    z-index: 6;
}

.right-button {
    cursor: pointer;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: none;
    z-index: 6;
}

button {
    outline: none;
  }

@media screen and (max-width: 480px) {
    #canvas, .starting-screen {
        width: 320px;
        height: 480px;
    }
    .score-list {
        width: 320px;
        max-height: 300px;
    } 
    .left-button {
        display: block;
    }   
    .right-button {
        display: block;
    }
}

@keyframes flow {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(30px)
    }
}